body{
    background-color: rgb(66, 135, 112);
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}
input{
    text-align: center;
    font-size: large;
    font-weight: bolder;
    width: 150px;
}
button{
    background-color: maroon;
    color: white;
    border: none;
    padding: 5px 12px;
    margin-top: 25px;
    border-radius: 5px;
    font-weight: bolder;
}
button:hover{
    background-color: rgb(168, 4, 4);
}
button:active{
    background-color: rgb(250, 80, 80);
}

#diceResult{
    font-size: 20px;
    margin-top: 15px;
    color:white ;
}